footer {
  background: var(--highlight);
  padding: 1rem;
  color: var(--textStandard);
  min-height: 12vh;
}

.footer__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
}

footer li {
  padding: 1rem;
}

footer p {
  font-size: 0.85rem;
  text-align: center;
}
