label {
  display: block;
  margin: 2rem 0;

}

input {
  border: 1px solid var(--textStandard);
  display: block;
  margin-top: 0.5rem;
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: 1.5rem;

  @media only screen and (min-width: 960px) {
    display: inline-block;
    margin-left: 1rem;
    width: 20rem;
  }
}

fieldset {
  border: 0;
  padding-bottom: 1rem;
}

form {
  background: rgba(255, 255, 255, 0.95);
  margin-bottom: 1rem;
  border: 2px solid var(--secondary);
  border-radius: 4px;
  padding-top: 2rem;
}
