@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// Components
@import './components/header';
@import './components/footer';
@import './components/buttons';
@import './components/forms';

// Pages
@import './pages/home';
@import './pages/registration';

body {
  background-color: #fffffe;
  color: var(--textStandard);
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  /* Colours */
  --textStandard: #2e2e2e;
  --highlight: #ffd803;
  --secondary: #bae8e8;
  --tertiary: #e3f6f5;
}

.content {
  margin: 0 1rem;

  @media only screen and (min-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
