@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
  background-color: #fffffe;
  color: var(--textStandard);
  font-family: 'Open Sans', sans-serif;

  /* Colours */
  --textStandard: #2e2e2e;
  --highlight: #4fc4cf;
  --secondary: #994ff3;
  --blueLight: #fbdd74;
}
